
  {{#each this}}
  <div class="media mt-3">
  <div class="media-body">
      <h6 class="mb-1">
      {{user.username}} on {{format_date created_at}}
      </h6>
      <h5 class="mt-0">{{comment_text}}</h5>
  </div>
  </div>
  {{/each}}
