<form id="form-post-editor" data-id={{id}}>
<legend>{{legend}}</legend>
<div class="form-group form-group-control">
    <label class='form-label' for="post-title">Title</label>
    <input class="form-control form-control-lg" type="text" id="post-title" name="post-title" value="{{title}}">
</div>
<br>    
<div class="form-group form-group-control">
    <label class='form-label' for="post-text">Content</label>
    <textarea class="form-control form-control-lg" id="post-text" name="post-text" rows="6">{{text}}</textarea>
</div>
<button class="btn btn-success button-lg" type="submit" >Submit Post</button>
</form>