{{> page/header}}
{{> page/nav}}

{{#if isEditorPage}}

{{> post-form post}}
<script src="/javascript/add-post.js"></script>
{{else}}
<a class="btn btn-outline-success" href="/dashboard/new">New Post</a>
<section class="container-fluid">
  {{!-- {{#if posts.length}} --}}
  <p class= "post-display-title">Your Posts</p>
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
  {{!-- {{/if}} --}}
</section>
{{/if}}
