{{> page/navbar}}
{{> page/header}}

{{#if isEditorPage}}

{{> post-form post}}
<script src="/javascript/add-post.js"></script>
{{else}}
<div class="container mt-2">
  <a class="btn btn-outline-success" href="/dashboard/new">New Post</a>
  <p class= "post-display-title">Your Posts</p>

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
  {{> page/title}}
  </a>
  </div>
</nav> --}}
{{!-- {{> page/nav}} --}}
{{!-- <section class="homepage-main"> --}}
  
  {{#each posts as |post|}}
  <div class="row post-container mb-2">
    {{> post-info post }}
  </div>
  {{/each}}
  {{!-- {{/if}} --}}
</div>
{{/if}}
