<div class="container mt-2">
{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
  {{> page/title}}
  </a>
  </div>
</nav> --}}
{{!-- {{> page/nav}} --}}
{{!-- <section class="homepage-main"> --}}
  
  {{#each posts as |post|}}
  <div class="row post-container mb-2">
    {{> post-info post }}
  </div>
  {{/each}}
{{!-- </section> --}}
</div>
