<section class="pure-u-1-2">
<form id="login-form" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Login to Your Account</legend>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" placeholder="Username" />
        <label for="password-login">Password</label>
        <input type="password" id="password-login" placeholder="Password" />
        <button type="submit" class="pure-button pure-button-primary"> Sign in</button>
    </fieldset>
  <a class="pure-button pure-button-warning" href="/signup">Sign Up Instead</a>

</form>
</section>
<script src="/javascript/login.js"></script>