{{> page/navbar}}

<div class="container mt-2">
<form id="login-form">
  <legend>Login to Your Account</legend>
  <div class="mb-2">
    <label for="username-login" class="form-label">Username</label>
    <input type="text" class="" id="username-login">
    {{!-- <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
  </div>
  <div class="mb-2">
  <label for="password-login">Password</label>
  <input type="password" id="password-login" placeholder="Password" />
  </div>
  {{!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-primary">Submit</button><a class="btn btn-default" href="/signup">Sign Up Instead</a>
</form>
</div>
<script src="/javascript/login.js"></script>
