<div class="container">

<form id="login-form">
  
  <legend>Login to Your Account</legend>
  
  <div class="form-group">
    <label class="form-lable" for="username-login" class="form-label">Username</label>
    <input class="form-control" type="text" class="" id="username-login" aria-placeholder="Username" placeholder="Username">
  </div>
  <div class="form-group">
  <label class="form-label" for="password-login">Password</label>
  <input class="form-control" type="password" id="password-login" placeholder="Password" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<a class="btn btn-primary-outline" href="/signup" role="button" type="button">Sign up instead</a>  
</form>

</div>
<script src="/javascript/login.js"></script>
