{{> page/header}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
  {{> page/title}}
  </a>
  </div>
</nav> --}}
{{> page/nav}}
<div class="row mb-2 post-container">
{{> post-info post}}
{{#if isOwner}}
<a href="/dashboard/edit/{{post.id}}" class="btn btn-outline-secondary">Edit post</a>
{{/if}}
</div>
<div class="row">
{{> comments post.comments}}
</div>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button class="btn btn-default" type="submit">add comment</button>
  </div>
</form>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
</div>