{{> page/navbar}}
{{> page/header}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
  {{> page/title}}
  </a>
  </div>
</nav> --}}

<div class="container mb-2 post-container">
<div data-id={{post.id}}>
  {{> post-info post}}
  {{#if isOwner}}
  <a href="/dashboard/edit/{{post.id}}" class="btn btn-secondary">Edit post</a>
  <button id="btn-delete-post" type="submit" class="btn btn-danger">Delete Post</button>
  {{/if}}
</div>

<div class="row border-top border-dark">
{{> comments post.comments}}
</div>
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button id="btn-add-comment" class="btn btn-default" type="submit">add comment</button>
  </div>
</form>
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}

</div>