{{> page/header}}

{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">
  {{> page/title}}
  </a>
  </div>
</nav> --}}
{{> page/nav}}
<div class="container-fluid">
{{> post-info post}}
</div>
{{#if isOwner}}
<a href="/edit/{{post.id}}" class="pure-button">Edit post</a>
{{/if}}
{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button class="btn btn-default" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}