<div class="container mb-2 post-container">
<div data-id={{post.id}}>
  {{> post-info post}}
  {{#if isOwner}}
  <a href="/dashboard/edit/{{post.id}}" class="btn btn-secondary">Edit post</a>
  <button id="btn-delete-post" type="submit" class="btn btn-danger">Delete Post</button>
  {{/if}}
</div>

<span class="row border border-dark">
{{> comments post.comments}}
</span>
{{#if loggedIn}}

<form class="comment-form mt-3">
  <div class="form-control-group">
    <textarea class="form-control" name="comment-body"></textarea>
    </div>
    <br />
    <div class="form-control-group">
      
    <button role="button" id="btn-add-comment" class="form-control-md" type="submit">Add Comment</button>
  </div>
</form>
<script src="/javascript/comment.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}

</div>