body {
  padding: 0;
  margin: 0;
}
main {
  margin: 0;
  background-color: var(--bs-light);
}
header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  var(--bs-dark);
  color: var(--bs-light);
}

h1 > a {
  text-decoration: none;
  color:inherit;
}
h4 > a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}
/* p {
  font-size: 1.8rem;
} */

.image-wrapper{
  /* margin-top: 3.6rem; */
  /* padding: 1.6rem; */
  vertical-align: top;
  text-align: center;
  
}
.header-image {
  background: url(../assets/img/laptop-wide.png) center center no-repeat;
  /* top: -1em; */
  min-height: 360px;
  border: rgb(31, 53, 53) solid 0.25px;
  /* background: center; */
  vertical-align: top;
  /* background-size: cover; */
  /* padding-top: 3rem; */
  /* z-index: 1; */

}

.btn.btn-logout:hover{
  background-color: var(--bs-danger);
}

.user-interface {
  text-align: center;
  
}


.post-container {
  margin-top: 1em;
  border-radius: 1%;
  border-color: black;
  border-style: groove;
  /* margin-bottom: 2em; */
}

.comment-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 1.25rem;
}
.blog-post > p {
  font-size: 1.2em
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 1.6em;
}
.blog-post-meta {
  font-size: 0.6;
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

