<div class="jumbotron bg-secondary border-color-light">
    <div class="container-fluid header-image mb-3">
    <h1 class="display-1 text-light"><a class="nav-link" href="/">Tech Blog</a></h1>
    </div>
</div>