<div class="jumbotron">
    <h1 class="display-2">Tech Blog</h1>
    {{!-- <a href="/" class="d-flex align-items-center text-light text-decoration-none"> --}}
    {{!-- <spanclass="fs-2">Tech Blog</span> --}}
    {{!-- </a> --}}
</div>