{{!-- <div class="p-2 mb-4 text-white bg-light rounded-3"> --}}
<div class="d-grid gap-2 col-4 mx-auto">

{{#unless isEditorPage}}
{{#if loggedIn}}
<a href="/dashboard" class="btn btn-secondary" type="button" role="button">Dashboard</a>
{{else}}
<a href="/login"  class="btn btn-outline-primary" type="button" role="button">Log In</a>
<a href="/signup" class="btn btn-outline-primary" type="button" role="button">Sign up</a>
{{/if}}
{{/unless}}
<button id="logout" class="btn btn-outline-secondary" {{#unless loggedIn}} hidden {{/unless}} type="button" role="button">Logout</button>
</button> 
</div>
