<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="navbar-nav">

<ul class="navbar-nav d-flex mr-auto">
<li class="nav-item"><a href="/" class="nav-link" type="button" role="button">Home</a></li>
{{#unless isEditorPage}}
{{#if loggedIn}}
<li class="nav-item"><a href="/dashboard" class="nav-link" type="button" role="button">Dashboard</a></li>
{{else}}
<li class="nav-item"><a href="/login"  class="btn btn-outline-primary" type="button" role="button">Log In</a></li>
<li class="nav-item"><a href="/signup" class="btn btn-outline-primary" type="button" role="button">Sign up</a></li>
{{/if}}
{{/unless}}
<li class="nav-item"><a href="/" id="logout" class="nav-link" type="button" role="button">Logout</a></li>

</ul>
</div>

</nav>
